### РК №2. Сыса Павел Валерьевич, ИУ5-65Б. Вариант №11.

Задание. Для заданного набора данных (по Вашему варианту) постройте модели классификации или регрессии (в зависимости от конкретной задачи, рассматриваемой в наборе данных). Для построения моделей используйте методы 1 и 2 (по варианту для Вашей группы). Оцените качество моделей на основе подходящих метрик качества (не менее двух метрик). Какие метрики качества Вы использовали и почему? Какие выводы Вы можете сделать о качестве построенных моделей? Для построения моделей необходимо выполнить требуемую предобработку данных: заполнение пропусков, кодирование категориальных признаков, и т.д.

Метод №1: Метод опорных векторов.
Метод №2: Градиентный бустинг.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score

Подключение и исследование набора данных

In [2]:
df = pd.read_csv('hotel_bookings.csv')

In [3]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
df.shape

(119390, 32)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

Вычисление пропусков по столбцам

In [6]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Удаление признака "company"

In [7]:
df.drop(['company'], axis=1, inplace=True)

Удаление признаков класса object

In [8]:
df.drop(['hotel'], axis=1, inplace=True)
df.drop(['arrival_date_month'], axis=1, inplace=True)
df.drop(['meal'], axis=1, inplace=True)
df.drop(['country'], axis=1, inplace=True)
df.drop(['market_segment'], axis=1, inplace=True)
df.drop(['distribution_channel'], axis=1, inplace=True)
df.drop(['reserved_room_type'], axis=1, inplace=True)
df.drop(['assigned_room_type'], axis=1, inplace=True)
df.drop(['deposit_type'], axis=1, inplace=True)
df.drop(['customer_type'], axis=1, inplace=True)
df.drop(['reservation_status'], axis=1, inplace=True)
df.drop(['reservation_status_date'], axis=1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 19 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   is_canceled                     119390 non-null  int64
 1   lead_time                       119390 non-null  int64
 2   arrival_date_year               119390 non-null  int64
 3   arrival_date_week_number        119390 non-null  int64
 4   arrival_date_day_of_month       119390 non-null  int64
 5   stays_in_weekend_nights         119390 non-null  int64
 6   stays_in_week_nights            119390 non-null  int64
 7   adults                          119390 non-null  int64
 8   children                        119386 non-null  float64
 9   babies                          119390 non-null  int64
 10  is_repeated_guest               119390 non-null  int64
 11  previous_cancellations          119390 non-null  int64
 12  previous_bookings_not_canceled  119390 non-null  int64
 13  booking_changes                 119390 non-null  int64
 14  agent                           103050 non-null  float64
 15  days_in_waiting_list            119390 non-null  int64
 16  adr                             119390 non-null  float64
 17  required_car_parking_spaces     119390 non-null  int64
 18  total_of_special_requests       119390 non-null  int64
dtypes: float64(3), int64(16)
memory usage: 17.3 MB

Удаление строк с пропущенными значениями

In [10]:
df = df.dropna(axis=0, how='any')
df.isna().sum()

is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
agent                             0
days_in_waiting_list              0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
dtype: int64

Для сокращения времени построения моделей был использован фрагмент набора данных, случайная выборка из 5000 элементов была получена с помощью sample

In [11]:
df = df.sample(n=5000)

In [12]:
TARGET_ATTRIBUTE = 'adr'
X_data, y_data = df.drop(columns=[TARGET_ATTRIBUTE]), df[[TARGET_ATTRIBUTE]]
X_test, X_train, y_test, y_train = train_test_split(X_data, y_data)

### Градиентный бустинг

In [13]:
grad_boost = GradientBoostingRegressor()
grad_boost.fit(X_train, y_train.to_numpy().flatten())
grad_boost_pred = grad_boost.predict(X_test)
grad_boost_pred

array([ 74.99983971,  94.19472345,  84.59486319, ...,  77.81347194,
       123.26000369, 119.93919551])

### Метод опорных векторов

In [14]:
svr = SVR(kernel='linear')
svr.fit(X_train, y_train.to_numpy().flatten())
svr_pred = svr.predict(X_test)
svr_pred

array([ 98.87149813, 105.84329422, 118.10940938, ...,  75.90861151,
        91.02835954,  93.28398219])

Оценка моделей с использованием метрик среднеквадратичной ошибки (MSE) и коэффициента детерминации (R-squared)

In [15]:
svr_mse = mean_squared_error(y_test, svr_pred)
svr_r2 = r2_score(y_test, svr_pred)

In [16]:
grad_boost_mse = mean_squared_error(y_test, grad_boost_pred)
grad_boost_r2 = r2_score(y_test, grad_boost_pred)

In [17]:
print("SVR")
print("Mean Squared Error (MSE):", svr_mse)
print("R-squared:", svr_r2)

SVR
Mean Squared Error (MSE): 1746.4454960409455
R-squared: 0.21748011193579686

In [18]:
print("GradientBoosting")
print("Mean Squared Error (MSE):", grad_boost_mse)
print("R-squared:", grad_boost_r2)

GradientBoosting
Mean Squared Error (MSE): 800.0997086164775
R-squared: 0.641503879825581

MSE - это метрика для оценки качества модели, используется для измерения среднеквадратичного отклонения предсказанных значений от фактических значений. Следует стремиться к минимизации значения MSE, так как меньшее значение MSE указывает на более точную модель, MSE позволяет получить численную оценку ошибки модели.
R-squared измеряет долю объясненной дисперсии в данных, предоставляет информацию, насколько точно модель объясняет вариацию целевой переменной. Имеет значение от 0 до 1, где 0 означает, что модель не объясняет никакой вариации целевой переменной, а 1 означает, что модель полностью объясняет вариацию целевой переменной.

Можно сделать вывод, что модель градиентного бустинга является более точной, так как у данной модели среднеквадратичная ошибка (MSE) меньше, чем у модели SVR, а коэффициент детерминации (R-squared) ближе к 1.